<launch>
    <arg name="sim" default="false" />
    <arg name="debug" default="false" />
  
    <!-- Launch moveit -->
    <include file="$(find neura_moveitconfig_ben)/launch/move_group.launch">
      <arg name="debug" default="$(arg debug)" />
    </include>
    
    <arg name="use_rviz" default="true" />
  
      <!-- Run Rviz and load the default config to see the state of the move_group node -->
    <include file="$(find neura_moveitconfig_ben)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
      <arg name="rviz_config" value="$(find neura_moveitconfig_ben)/launch/moveit.rviz"/>
      <arg name="debug" value="$(arg debug)"/>
    </include>
  
  </launch>
